.introduction {
  padding: 90px 0;
  @include background(radial-gradient(map.get($colors,"blackLight"),map.get($colors,"blackShade")));

  &__title {
    @include font(map.get($colors,"white"),$weight:700,$size:36px,$text:capitalize,$textAlign:center);
  }

  &__description {
    @include contentSize(60%);
    margin: $autoMargin;
    padding: 25px 0;
    @include font(map.get($colors,"brown"),$size:16px,$weight:700,$textAlign:center);
    line-height: 1.7;
  }
}