/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

.banner {
  padding: 235px 0;
  background: url("../images/banner.png") rgba(71, 71, 224, 0.7) center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner .wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.banner__title {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
.banner__description {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 1.7;
}

.btn-read-more {
  padding: 15px 2%;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  background: #aa14cc;
  color: #fff;
}
@media only screen and (min-width: 1024px) {
  .btn-read-more:hover {
    background: #fff;
    color: #aa14cc;
  }
}

.wrapper-large {
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 7px 0;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}
.header__navbar {
  flex: 1;
}
.header__navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

.wrapper-large {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nav-item:nth-child(2) {
  margin: 0 5%;
}
.nav-item:nth-child(1) a {
  color: #aa14cc;
}
.nav-item a {
  color: #fff;
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  .nav-item a:hover {
    color: #aa14cc;
  }
}

.logo a {
  color: #fff;
}
@media only screen and (min-width: 1024px) {
  .logo a:hover {
    color: #aa14cc;
  }
}
.logo span {
  text-transform: capitalize;
}
.logo span:nth-child(1) {
  font-size: 21px;
  font-weight: 500;
}
.logo span:nth-child(2) {
  font-size: 16px;
  text-transform: uppercase;
}

.menu {
  display: none;
}

.introduction {
  padding: 90px 0;
  background: radial-gradient(#253747, #0c1517);
}
.introduction__title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
.introduction__description {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
  color: #9b9175;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 1.7;
}
.introduction__videos {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 4%;
}

.video__description {
  width: 100%;
  padding: 25px 0;
  display: block;
  background: #253747;
  color: #fff;
  text-align: center;
}
.video figure {
  position: relative;
}
.video figure::before {
  position: absolute;
  top: 150px;
  right: 50%;
  left: 50%;
  color: #fff;
  font-size: 38px;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f04b";
}
@media only screen and (min-width: 1024px) {
  .video figure:hover::before {
    color: #aa14cc;
  }
}
.video figure img {
  border-radius: 5px 5px 0 0;
}

.video-gallery {
  padding: 95px 0;
  background: radial-gradient(#253747, #020b13);
}
.video-gallery__title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}
.video-gallery__description {
  padding: 43px 0 63px 0;
  display: block;
  color: #9b9175;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
}

/*# sourceMappingURL=style.css.map */
