$devices:("desktop":"1024px",
  "tablet":"995px",
  "ipad":"768px",
  "largePhone":"540px",
  "mediumPhone":"480px",
  "smallPhone":"320px"
);

$social:("fb":"\f39e",
  "fb-sq":"\f082",
  "fb-ro":"\f09a",
  "twitter":"\f099",
  "twitter-sq":"\f081",
  "insta":"\f16d", );

$colors:();